<h1>All restaurants</h1>

<ul class='list-group'>
  <% @restaurants.each do |restaurant| %>
    <li class='list-group-item'><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
</ul>

<%= link_to 'Create new restaurant', new_restaurant_path, class: 'btn btn-primary' %>
